body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.formulario-contacto {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    position: relative; /* Para que el icono se posicione relativo al contenedor */
}

.formulario-contacto h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario-contacto label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.formulario-contacto textarea,
.formulario-contacto input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario-contacto textarea {
    height: 100px;
}

.formulario-contacto input[type="submit"] {
    background-color: #3f36b9;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.formulario-contacto input[type="submit"]:hover {
    background-color: #3d4c3d;
}

.regreso {
    position: absolute;
    bottom: 10px; /* Ajusta el espacio desde el borde inferior del contenedor */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar completamente */
}

.regreso img {
    width: 180px; /* Tamaño del icono más grande */
    height: auto;
    cursor: pointer;
}
